  {% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% include "_navbar.html" %}

    {% block main %}
   <h1>Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium voluptatum possimus, officia recusandae inventore deserunt consectetur exercitationem! Enim minus facere recusandae itaque perferendis ipsam totam, nam ipsa voluptatum quibusdam voluptate!
    
   </h1>
    {% endblock %}

    {% include "_footer.html" %}
</body>
</html>